# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
ENV/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# FastAPI
# =========================
*.db
*.sqlite3

# =========================
# ChromaDB
# =========================
chroma_db/

# =========================
# Uploaded Files
# =========================
uploaded_pdfs/

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db

# =========================
# Cache
# =========================
.cache/
.pytest_cache/

# =========================
# Coverage
# =========================
htmlcov/
.coverage

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
